<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:5000" />
    <add key="DefaultTemplate" value="Templates/TSMC.label" />
    <add key="DefaultPrinter" value="" />
    <add key="ExportDpi" value="300" />
  </appSettings>
</configuration>
